#==============================================================================#
# File extensions to be ignored anywhere in the tree
#==============================================================================#
*~
*.orig
*.pyc

#==============================================================================#
# IDE settings
#==============================================================================#
.idea
.vscode/
.classpath
.project
.settings/

#==============================================================================#
# Internal build directories
#==============================================================================#
build/
.scripts/
